version: "3.8"

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: appdb

  backend:
    build: ./backend
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: secret
      DB_NAME: appdb
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      python init_db.py &&
      uvicorn main:app --host 0.0.0.0 --port 8000
      "


  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
